node_modules
codebase.txt

# Output
.output
.vercel
.svelte-kit
build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Sentry Config File
.sentryclirc
*storybook.log

# Storybook
storybook-static

# Sentry Config File
.sentryclirc
