{
	"*(x)": [
		"bun install --noEmit",
		"svelte-kit sync --noEmit",
		"svelte-check --tsconfig ./tsconfig.json --noEmit"
	],
	"*": ["prettier --write --list-different", "prettier --check", "eslint"],
	"backend/**/*(x)": ["cd ./backend && poetry install"],
	"backend/**/*": ["cd ./backend && poetry run black"]
}
